<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="w-full">
  <div class="flex justify-between">
    <mat-form-field class="grow mr-2" hideRequiredMarker>
      <mat-label for="title">Title</mat-label>
      <input matInput id="title" type="text" formControlName="title" placeholder="Eneter title" />
    </mat-form-field>

    <button mat-stroked-button type="submit" [disabled]="taskForm.invalid" class="h-full">
      Add new task
    </button>
  </div>

  <span *ngIf="error.hasError" class="text-red-500 ml-4">
    {{ error.message }}
  </span>
</form>
