<mat-list-item class="!p-0">
  <div *ngIf="!isEdit" class="flex justify-between items-center w-full">
    <div>
      <span>{{ task.title }}</span>
    </div>

    <div class="flex items-center gap-2">
      <button
        color="primary"
        *ngIf="!task.isCompleted"
        mat-stroked-button
        (click)="onComplete(task.id!)"
        [disabled]="task.isCompleted"
      >
        Complete
      </button>

      <span *ngIf="task.isCompleted" class="text-green-500">
        {{ task.status }}
      </span>

      <button mat-icon-button (click)="onTaskOpenedEditor(task.id!)">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        (click)="onOpenDeleteDialog(task.id!)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="isEdit" class="flex justify-between items-center w-full gap-2">
    <input
      type="text"
      [(ngModel)]="editedTask!.title"
      appAutofocus
      #titleInput="ngModel"
      required
      (keyup.enter)="onSave(editedTask!); $event.preventDefault()"
      placeholder="Enter title"
      class="border p-1 w-full"
    />

    <div
      *ngIf="titleInput.invalid && titleInput.touched"
      class="text-red-500 text-sm"
    >
      Title is required
    </div>

    <div class="flex gap-1">
      <button
        id="save-btn"
        color="primary"
        mat-stroked-button
        (click)="onSave(editedTask!)"
        [disabled]="titleInput.invalid"
      >
        Save
      </button>

      <button id="cancel-btn" mat-stroked-button (click)="cancelEdit()">
        Cancel
      </button>
    </div>
  </div>
</mat-list-item>
